.box{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.box a{
	display: block;
}

.cssnext {
  background: rgba(255, 0, 0, 0.9);
}

.precss {
  background: green
}


