@import 'normalize.css';

.box{
	display: flex;

	a{
		display: block;
	}
}

.cssnext {
  background: color(red alpha(-10%));
}

.precss {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}
